@keyframes translateLeftAnimation {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}

@keyframes translateRightAnimation {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(200%);
    }
}

.previewImageWrapper {
    position: absolute;
    transition-duration: 1s;
    display: inline-block;
}

.previewImage {
    width: 400px;
    padding: 20px;
    opacity: 1;
}

.previewNextImageWrapper {
    display: none;
}

.hideLeft {
    left: -200%;
    position: absolute;
    display: inline-block;
}

.hideRight {
    left: 200%;
    position: absolute;
    display: inline-block;
}

.translateLeft {
    -webkit-animation: translateLeftAnimation forwards;
    -moz-animation: translateLeftAnimation forwards;
    -o-animation: translateLeftAnimation forwards;
    animation: translateLeftAnimation forwards;
    animation-duration: 1s;
}

.translateRight {
    -webkit-animation: translateRightAnimation forwards;
    -moz-animation: translateRightAnimation forwards;
    -o-animation: translateRightAnimation forwards;
    animation: translateRightAnimation forwards;
    animation-duration: 1s;
}

.productTitle {
    text-align: center;
    font-weight: 200;
    font-size: 1.2em;
}