body {
    overflow: hidden;
}

h1, p, h2 {
    color: white;
    letter-spacing: 0.08em;
}

h1 {
    font-weight: 700;
    font-size: 2em;
}

h2, p{
    font-weight: 300;
    font-size: 0.7em;
}

@keyframes fadeInFromBottom {
    0% {
        transform: translate(-50%, 0%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.navigationBar {
    width: 80vw;
    box-sizing: border-box;
    left: 10vw;
    position: relative;
    display: inline-block;
    height: 55vh;
    padding: 20px;
}

.navigationTitleButton {
    margin: 0;
    position: relative;
    display: inline-block;
    width: calc(100% / 3);
    height: calc(100% / 3);
}

.navigationTitleButton:hover > .navigationTitleText {
    color: white;
}

.navigationTitleButton:hover > .navigationTitleTextCurrentPage {
    color: #5154d7;
}

.navigationTitleText {
    opacity: 0;
    -webkit-animation: fadeInFromBottom forwards;
    -moz-animation: fadeInFromBottom forwards;
    -o-animation: fadeInFromBottom forwards;
    animation: fadeInFromBottom forwards;

    color: #bbbbbb;
    animation-duration: 0.6s;
    transition-duration: 0.4s;
    font-weight: 600;
}
.navigationTextButtonWrapper{
    display: inline-block;
    position: absolute;
    height: auto;
    top: 50%;    text-align: center;

    left: 50%;
    margin: 0;
    padding: 0;
}

.navigationTitleTextCurrentPage {
    font-weight: 600;
    color: #5154d7;
}

.animateUnderline {
    background-color: white;
    transform: translateX(-50%);
    height: 1px;
    border-radius: 1px;
    width: 0px;
    transition-duration: 0.4s;
}

.navigationTitleButton:hover .animateUnderline {
    width: 100%;
}

.textWrapper {
    /*padding: 20% 10%;*/
}

.mainBody {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #1b1c1e;
}

.burgerButton {
    background-color: transparent;
    border: none;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 10;
}

.page {
    position: absolute;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    z-index: 5;
    transform: translate(-50%, 0%);
    left: 50vw;
    background-color: #25262a;
    opacity: 1;
    transition-duration: 0.3s;
}

.pageStackMode {
    background-color: #25262a;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    left: 50vw;
    height: 45vh;
    width: 80vw;
    z-index: 10;
    bottom: 0;
    transition-duration: 0.3s;
    transform-origin: center;
    transform: translate(-50%, 0%);
    -webkit-box-shadow: 0px -3px 15px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px -3px 15px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -3px 15px -2px rgba(0, 0, 0, 0.2);
    position: absolute;
    animation-duration: 0.4s;
}

.pageStackMode-0 {
    transition-duration: 0.4s;
    z-index: 3;
    background-color: #2A2B30;
    bottom: 0;
}

.pageStackMode-1 {
    transform-origin: center;
    animation-delay: 0.1s;
    height: 45vh;
    width: 75vw;
    bottom: 4vh;
    z-index: 2;
    background-color: #2A2B30;
}

.pageStackMode-2 {
    animation-delay: 0.4s;
    width: 70vw;
    bottom: 8vh;
    z-index: 1;
    background-color: #2A2B30;
}